# UDEV Rules for PCAR USB device symlink
KERNEL=="ttyACM*", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0483", MODE:="0666", SYMLINK+="teensy"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A5058HKF", MODE:="0666", SYMLINK+="imu"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{product}=="USB <-> Serial", MODE:="0666", SYMLINK+="lidar"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0666", SYMLINK+="lidar"
KERNEL=="video*", ATTRS{idVendor}=="1871", ATTRS{idProduct}=="0341", MODE:="0666", SYMLINK+="webcam"
