<?xml version="1.0"?>

<launch>

<arg name="lidar" default="true" />
<arg name="imu"   default="false" />
<arg name="rviz"  default="false" />
<arg name="bag"   default="false" />

<group if="$(arg lidar)">
    <include file="$(find hector_mapping)/launch/hector_old_pcar.launch" />
<!--    <include file="$(find teleop_twist_joy)/launch/teensy_teleop.launch" />
    <include file="$(find loco)/launch/odometry.launch" /> -->
    <node pkg="ps3joy" type="sixpair" name="PS3" output="screen" />
    <node pkg="ps3joy" type="ps3joy.py" name="PS3Joy" output="screen" />
    <node pkg="rosserial_python" type="serial_node.py" name="SERIAL" args="/dev/ttyACM0" output="screen" />
    <include file="$(find jetsoncar_teleop)/launch/nyko_teleop.launch"/>
</group>

<group if="$(arg imu)">
    <include file="$(find razor_imu_9dof)/launch/razor-pub.launch" />
</group>

<group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz"/>
</group>

<group if="$(arg bag)">
	<node pkg="rosbag" type="record" name="rosbag_record_main"
     	args="record -a -O /home/ubuntu/catkin_ws/mostrecent.bag"/>
</group>

<include file="$(find usb_cam)/launch/usb_cam_rviz.launch" />

</launch>
