<?xml version="1.0"?>

<launch>

  <arg name="xv11" default="false" />
  <arg name="rplidar" default="false" />
  <arg name="hokuyo" default="true" />

  <group if="$(arg xv11)">

    <node pkg="xv_11_laser_driver" type="neato_laser_publisher" name="xv_11_node">
    <param name="port" value="/dev/tty.usbserial-A9UXLBBR"/>
    <param name="port" value="/dev/lidar"/>
    <param name="firmware_version" value="2"/>
    <param name="frame_id" value="laser"/>
    </node>

  </group>

  <group if="$(arg rplidar)">

    <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  </group>

  <group if="$(arg hokuyo)">

    <arg name="lidar_path" default="_ip_address:=192.168.0.10" />

    <node pkg="urg_node" type="urg_node" name="urg_node" args="$(arg lidar_path)">
    <param name="angle_min" value="1.57"/>
    <param name="angle_max" value="-1.57"/>
    </node>

  </group>

</launch>
